## Math Challenges
A collection of Python exercises exploring interesting number properties.

### Narcissistic Numbers

Numbers whose digits, each raised to the power of the number of digits, sum up to the number itself.  

**Goal:** Calculate how many 3-digit narcissistic numbers exist.

In [1]:
def is_three_digit_narcissistic_number(abc):
    abc = str(abc)
    a = int(abc[0])
    b = int(abc[1])
    c = int(abc[2])
    abc = int(abc)
    return ((a**3) + (b**3) + (c**3)) == abc

In [2]:
def count_three_digit_narcissistic_numbers():
    start = 100
    end = 999
    narcissistic_numbers = []
    for n in range(start, end+1):
        if is_three_digit_narcissistic_number(n):
            narcissistic_numbers.append(n)
    print(len(narcissistic_numbers))

In [3]:
count_three_digit_narcissistic_numbers()

4

### Palindrome Numbers

Numbers that read the same forwards and backwards.  

**Goal:** Calculate all palindrome numbers between 100 and 10000.

In [1]:
def count_palindromes(start : int, end : int):
    palindromes = []
    for n in range(start,(end+1)):
        n = str(n)
        if n == n[::-1]:
            palindromes.append(n)
    print(len(palindromes))

In [2]:
count_palindromes(100,10000)

180

### Circular Prime Numbers

A number is a **circular prime** if all rotations of its digits are prime numbers.  

**Goal:** Calculate how many circular prime numbers exist between 2 and 1000.

In [6]:
def is_prime(number: int):
    divisors = []
    for n in range(1,number+1):
        if number % n == 0:
            divisors.append(n)
    return len(divisors) == 2

In [4]:
def is_circular_prime(number):
    if is_prime(number) and number < 10:
        return True
    elif is_prime(number) and number < 100:
        number = str(number)
        reverse_number = number[::-1]
        reverse_number = int(reverse_number)
        return is_prime(reverse_number)
    elif is_prime(number) and number < 1000:
        number = str(number)
        a = number[0]
        b = number[1]
        c = number[2]
        number2 = b + c + a
        number2 = int(number2)
        if is_prime(number2):
            number3 = c + a + b
            number3 = int(number3)
            return is_prime(number3)
    elif is_prime(number) and number < 10000: #Falls 1000 eingeschlossen ist, sonst kann dieses elif entfernt werden.
        number = str(number)
        a = number[0]
        b = number[1]
        c = number[2]
        d = number[3]
        number2 = b + c + d + a
        number2 = int(number2)
        if is_prime(number2):
            number3 = c + d + a + b
            number3 = int(number3)
            if is_prime(number3):
                number4 = d + a + b + c
                number4 = int(number4)
                return is_prime(number4)

In [7]:
zirkuläre_primzahlen = 0
for n in range(2,1001): #Falls 2 und 1000 eingeschlossen sind, sonst sollte range(3, 1000) sein.
    if is_circular_prime(n):
        print(n, end=" ; ")
        zirkuläre_primzahlen += 1
print("\nEs gibt", zirkuläre_primzahlen, "zirkuläre Primzahlen.")

2 ; 3 ; 5 ; 7 ; 11 ; 13 ; 17 ; 31 ; 37 ; 71 ; 73 ; 79 ; 97 ; 113 ; 131 ; 197 ; 199 ; 311 ; 337 ; 373 ; 719 ; 733 ; 919 ; 971 ; 991 ;
Es gibt 25 zirkuläre Primzahlen.

### Number with Most Divisors

**Goal:** Find the number between 2 and 1000 that has the highest number of divisors.

In [8]:
def find_divisors(number):
    divisors = []
    for n in range(1,number+1):
        if number % n == 0:
            divisors.append(n)
    return len(divisors)

In [9]:
max_divisors = 0
winner = 0
for n in range(3, 1000): #Wenn 2 und 1000 eingeschlossen sind, sollte es range(2, 1001) sein.
    if find_divisors(n) > max_divisors:
        max_divisors = find_divisors(n)
        winner = n
print(f'{winner} hat {max_divisors} Teiler und hat die meisten Teiler!')

840 hat 32 Teiler und hat die meisten Teiler!

### Wilson's Formula

Wilson's formula is an exact mathematical formula to compute the n-th prime number.  


**Goal:** Implement Wilson's formula in a Python function `wilson(n)` and compute the first five primes: `wilson(1)` to `wilson(5)`.  
Use `floor` from the `math` module, as well as `cos` and `pi`.

In [20]:
from math import cos,floor,pi

In [21]:
def factorial(k):
    if k == 0 or k == 1:
        return 1
    result = 1
    for i in range(2, k + 1):
        result *= i
    return result

In [22]:
def is_non_prime(j):
    fact = factorial(j - 1)
    value  = ((fact + 1) / j) * pi
    cosine = cos(value )
    cosine_squared = cosine**2
    return floor(cosine_squared)  # 0 (prime) oder 1 (non prime)

In [23]:
def denominator_sum(i):
    sum_denominator = 0
    for j in range(1, i+1):
        sum_denominator += is_non_prime(j)
    return sum_denominator

In [24]:
def term(i, n):
    value = n / denominator_sum(i)
    value = value**(1/n)
    return floor(value) # n-te Primzahl

In [25]:
def wilson(n):
    summe = 0
    for i in range(1,2**n+1):
        value = term(i,n)
        summe += value
    return summe + 1

In [26]:
# Testen der Wilson-Funktion
for i in range(1,6):
    print(wilson(i))

2
3
5
7
11

### Dataset Model for Data Analysis with Inheritance and Dunder Methods

**Goal:** Create a Python data model suitable for data analysis.  
The model should include a base class `Dataset` and a derived class `TabularDataset`.  
Use inheritance and dunder methods to make the model simple and intuitive.

**Requirements:**
- `Dataset` is the base class and contains basic properties and methods for datasets (e.g., an attribute `data`).  
- `TabularDataset` inherits from `Dataset` and is intended for tabular data.  
- Implement `__len__` in `TabularDataset` to return the number of rows.  
- Implement `__getitem__` in `TabularDataset` to allow row access by index and support slicing.

In [ ]:
from typing import Any, Union, List, Dict

class Dataset:
    def __init__(self, data: List[Any]) -> None:
        self.data = data

class TabularDataset(Dataset):
    def __init__(self, data: List[Dict[str, Any]]) -> None:
        super().__init__(data)

    def __len__(self) -> int:
        return len(self.data)

    def __getitem__(self, index: Union[int, slice]) -> Union[Dict[str, Any], List[Dict[str, Any]]]:
        return self.data[index]

In [1]:
class Dataset:

    def __init__(self, data: list[any])->None:
        self.data = data


class TabularDataset(Dataset):

    def __init__(self, data: list[dict[str,any]])->None:
        super().__init__(data)

    def __len__(self)->int: 
        return len(self.data) #Anzahl Zeilen der Datei

    def __getitem__(self, index: int | slice)->dict[str,any] | list[dict[str,any]]:
        return self.data[index] #Zugriff auf Zeilen der Datei durch Index

TypeError: unsupported operand type(s) for |: 'type' and 'type'

In [30]:
# Beispiel für eine Anwendung des TabularDataset-Objekts
financial_data = TabularDataset([
    {'company': 'Tesla', 'price': 176.31, 'market_cap': 0.559},
    {'company': 'Apple', 'price': 158.56, 'market_cap': 2.647}
])

print(len(financial_data)) # 2
print(financial_data[0]) # {'company': 'Tesla', 'price': 176.31, 'market_cap': 0.559}
print(financial_data[0:2])   # [{'company': 'Tesla', 'price': 176.31, 'market_cap': 0.559}, {'company': 'Apple', 'price': 158.56, 'market_cap': 2.647}]

NameError: name 'TabularDataset' is not defined